version: '3.7'

services: 
  nginx:
    build: ./nginx
    ports:
      - 80:80
    volumes:
      - static_volume:/app/static
    depends_on: 
      - web
    restart: "on-failure"
  web:
    build: .
    command: sh -c "python manage.py collectstatic --noinput &&
                    gunicorn SampleDjangoApp.wsgi:application --bind 0.0.0.0:${APP_PORT}"
    volumes:
      - static_volume:/app/static
    env_file: 
      - .env
    expose: 
      - ${APP_PORT}
    restart: "on-failure"

volumes: 
  static_volume: